/* General CSS styles */
body{
    background-color: #f5f5f5;
    font-family: 'Poppins' ,sans-serif;
}

header, footer{
    text-align: center;
    width: 300px;
    margin: 30px auto 0px auto;
}

main{
    width: 300px;
    margin: 30px auto 0px auto;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}

input{
    display: inline;
    font-family: 'Poppins' ,sans-serif;
    width: 300px;
    border: 1px solid #c7c7c7;
    border-radius: 0 5px 5px 0;
    padding: 10px;
}

label{
    vertical-align: 10px;
}
/* -END- general styles */

/* Input type submit */
input[type="submit"]{
    background-color: #4075d6;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    transition: linear 200ms all;
}

input[type="submit"]:hover{
    background-color: #0444ba;
    border-radius: 50px;
    filter: saturate(130%);
    transition: linear 200ms all;
    box-shadow: 0px 0px 3px 3px #4075d6;
}

#jugar{
    border: 3px solid #0444ba;
    margin-top: 20px;
    width: 322px;
}
/* -END- Input type submit */

/* Select options */
option{
    background-color: #9c9c9c;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

select{
    font-family: 'Poppins' ,sans-serif;
    background-color: white;
    font-size: 17px;
    display: inline;
    width: 322px;
    border: 1px solid #c7c7c7;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    cursor: pointer;
}
/* -END- Select options */

footer p{
    color: #6b6b6b;
}

